#examples
{
  display: grid;
  row-gap: 16px;
}

section
{
  display: grid;
  row-gap: 8px;
}

section:last-child
{
  margin-bottom: 0;
}

section *
{
  margin: 0;
  padding: 0;
}

#shell
{
  max-width: 600px;
  margin: 16px auto;
}

@media only screen and (max-width: 600px){
  #shell {
    margin: 16px;
  }
}