.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Здесь всего один блок. */
.content-block {
  max-width: 400px;
}

.content-block p {
  margin-bottom: 0;
}

.promo-img {
  border-radius: 16px;
  max-width: 100%;
}