:root {
  --text-body-color: black;
  --text-body-color-invert: white;
  --ui-accent-color: #007DFF;
  --ui-gray-0-color: #E1E1E2;
  --ui-gray-3-color: #8E8E93;
  --red-0-color: #FF3B30;
  --special-0-color: #E70078;
  --font-h1-size: 24px;
  --font-h2-size: 18px;
  --font-body-size: 18px;
  --font-ui-size: 16px;
  --font-caption-size: 12px;
  --font-caption-color: 12px;  /* TODO: seems broken. */
  --font-bold-weight: 600;
  --ui-button-height: 34px;
  --ui-padding: 8px;
  --corner-radius: 8px;

  --icon-line-thickness: 2px;
  --icon-line-length: 60%;
  --icon-line-corner-raidus: 1px;
}

h1,
h2
{
  font-weight: var(--font-bold-weight);
}

h1 { font-size: var(--font-h1-size); }
h2 { font-size: var(--font-h2-size); }

body {
  font-family: Inter, sans-serif;
  background: white;
  padding: 0;
  margin: 0;
}

button:hover,
.default-button
{
  cursor: pointer;
}

.default-button {
  display: inline-block;
  position: relative;
  padding: var(--ui-padding);
  background: none;
  outline: none;
  border: none;
  color: var(--ui-accent-color);
  font-size: var(--font-ui-size);
}

.command-complete-info {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);

  padding: 4px 8px;
  border-radius: 8px;
  background: var(--ui-gray-3-color);
  color: var(--text-body-color-invert);
  font-size: var(--font-caption-size);

  visibility: hidden;
  opacity: 0;
}

.command-complete-info.shown {
  visibility: visible;
  opacity: 1;

  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

a
{
  color: var(--ui-accent-color);
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.default-button.disabled
{
  color: var(--ui-gray-3-color);
}


.caption {
  font-size: var(--font-caption-size);
  color: var(--ui-gray-3-color);
  margin: 8px 0;
}