:root {
  --text-body-color: black;
  --text-body-color-invert: white;
  --ui-accent-color: #007DFF;
  --ui-gray-m1-color: #F8F8F8;
  --ui-gray-0-color: #E1E1E2;
  --ui-gray-1-color: #C6C6C7;
  --ui-gray-3-color: #8E8E93;
  --red-0-color: #FF3B30;
  --green-0-color: #06EC01;
  --special-0-color: #E70078;
  
  --font-h1-size: 24px;
  --font-h2-size: 18px;
  --font-body-size: 18px;
  --font-ui-size: 16px;
  --font-caption-size: 12px;
  --font-caption-color: 12px;  /* TODO: seems broken. */
  --font-bold-weight: 600;
  --ui-button-height: 36px;
  --ui-icon-size: 24px;
  --ui-padding: 8px;
  
  --corner-radius: 8px;
  --corner-radius-half: 4px;
  --corner-radius-surface: 12px;
  
  --icon-line-thickness: 2px;
  --icon-line-length: 60%;
  --icon-line-corner-raidus: 1px;
}

h1,
h2 {
  font-weight: var(--font-bold-weight);
}

h1 { font-size: var(--font-h1-size); }
h2 { font-size: var(--font-h2-size); }

body {
  font-family: Inter, sans-serif;
  background: var(--ui-gray-m1-color);
  padding: 0;
  margin: 0;
}

button:hover,
.default-button {
  cursor: pointer;
}

.default-button {
  display: inline-block;
  position: relative;
  padding: var(--ui-padding);
  background: none;
  outline: none;
  border: none;
  color: var(--ui-accent-color);
  font-size: var(--font-ui-size);
}

.app-menu-item__caption { position: relative; }

.command-complete-info {
  position: absolute;
  left: 50%;
  top: -140%;
  transform: translateX(-50%);

  padding: 4px 12px;
  border-radius: 8px;
  background: white;
  color: var(--text-body-color);
  font-size: var(--font-caption-size);
  border: 1px solid var(--ui-accent-color);

  visibility: hidden;
  opacity: 0;

  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
}

.command-complete-info::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  background: white;
  border-style: none solid solid none;
  border-width: 1px;
  border-color: var(--ui-accent-color);
}

.command-complete-info.shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

a { color: var(--ui-accent-color); }

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.default-button.disabled { color: var(--ui-gray-3-color); }

.caption {
  font-size: var(--font-caption-size);
  color: var(--ui-gray-3-color);
  margin: 8px 0;
}

.surface {
  background-color: white;
  padding: 12px;
  border-radius: var(--corner-radius-surface);
  box-sizing: border-box;
}

.surface.top-tight {
  border-radius: 0 0 var(--corner-radius-surface) var(--corner-radius-surface);
}

.surface.full-width { width: 100%; }

.page-top-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page-content {
  max-width: 960px;
  margin: 12px auto;
}

/* Switch to a minimum margin when screen is small. */
@media only screen and (max-width: 960px){
  .page-content { margin: 12px; }
}

.content-block > :first-child { margin-top: 0; }
.content-block > :last-child { margin-bottom: 0; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Header home button */

.home-button {
  text-decoration: none;
}

.proportio-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 36px;
  width: 36px;
}

.logo-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  color: var(--text-body-color);
  font-size: 24px;
}

/* Nav */

.nav {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.nav-item {
  padding: 2px 0;
  text-decoration: none;
  color: var(--text-accent-color);
  font-size: 16px;
}

.nav-item:hover { color: var(--ui-accent-color); }
