body { background-color: white; }

#app {
  max-width: 600px;
  margin: 16px auto;
}

#app-header,
#mode-chooser {
  margin-bottom: 16px;
}

.severity-warning { color: var(--red-0-color); }

#recipe-nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 3fr;
  column-gap: 8px;
  height: 36px;
}

#command-menu,
#command-menu-back {
  padding-left: 0;
  justify-self: left;
}

#command-clear { 
  justify-self: right;
  padding-right: 0;
}

.link-icon {
  position: relative;
}

.link-icon > svg {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}


.toggle-wide {
  display: grid;
  height: var(--ui-button-height);
  grid-template-columns: 50% 50%;
  gap: 0;
  margin: var(--ui-padding) 0;
}

.toggle-wide .left,
.toggle-wide .right {
  padding: var(--ui-padding);
  margin: 0;
  border: 1px solid var(--ui-accent-color);
  font-size: var(--font-ui-size);
}

.toggle-wide .left {
  border-radius: var(--corner-radius) 0 0 var(--corner-radius);
}

.toggle-wide .right {
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
}

.toggle-ison {
  background: var(--ui-accent-color);
  color: white;
}

.toggle-isoff {
  background: white; 
  color: var(--ui-accent-color);
}

#recipe-table {
  margin-bottom: 16px;
}

.ingredient .invalid {
  color: var(--red-0-color);
}

.recipe-table-header,
.ingredient {
  display: grid;
  grid-template-columns: var(--ui-button-height) auto 88px 88px;
  gap: 8px;
  align-items: center;
  padding: 8px 0;
}

.ingredient {
  min-height: var(--ui-button-height);
}

.recipe-table-header {
  font-weight: var(--font-bold-weight);
  font-size: var(--font-body-size);
  border-bottom: 1px solid black;
}

.recipe-table-header-name {
  grid-column-start: 2;
}

.ingredient {
  border-bottom: 1px solid var(--ui-gray-0-color);
}

.ingredient input {
  border: 1px solid var(--ui-gray-0-color);
  margin: 0;
  padding: 4px;
  border-radius: var(--corner-radius-half);

  font-size: var(--font-body-size);
  /* Force body font-family */
  font-family: inherit;
  color: var(--text-body-color);
}

.ingredient input:hover,
.ingredient input:focus {
  border: 1px solid var(--ui-accent-color);
}

.ingredient input:focus {
  outline: 1px solid var(--ui-accent-color);
}

input::placeholder {
  color: var(--ui-gray-1-color);
  opacity: 1;
}

/* Delete button */

.ingredient-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ui-button-height);
  height: var(--ui-button-height);
  border: none;
  background: none;

  /* iOS Safari issue, perhaps of default button styles. */
  padding: 0;
  margin: 0;
}

.ingredient-remove svg {
  width: var(--ui-icon-size);
  height: var(--ui-icon-size);
  color: var(--ui-accent-color);
}

.ingredient-name {  grid-column-start: 2; }

p.ingredient-name,
p.ingredient-unit {
  margin: 0;
  font-size: var(--font-body-size);
}

p.ingredient-name {
  word-break: break-word;
}

.ingredient-add {
  height: var(--ui-button-height);
  width: 100%;
  border-radius: 8px;
  border: 0;
  background: var(--ui-accent-color);
}

/* Plus button */
.ingredient-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ui-button-height);
}

.ingredient-add svg {
  width: var(--ui-icon-size);
  height: var(--ui-icon-size);
  color: var(--text-body-color-invert);
}

.toggle-isoff.disabled {
  color: var(--ui-gray-3-color);
  border-color: var(--ui-gray-3-color);
}

.ingredient-remove.disabled { display: none; }

.ingredient-add.disabled { background: var(--ui-gray-3-color); }

.ingredient-add.disabled span { color: var(--ui-gray-3-color); }

/* Menu styles */

#page-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: var(--font-body-size);
}

#page-menu header {
  padding-bottom: 4px;
  color: var(--ui-gray-3-color);
}

.app-menu-item { border-radius: 10px; }

.app-menu-item:hover { background: var(--ui-gray-m1-color); }

.app-menu-item > a,
.app-menu-item > button,
.app-menu-item > label {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 36px;
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: var(--font-body-size);
  color: var(--text-body-color);
  text-decoration: none;
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.app-menu-item__icon,
.app-menu-item__external-link-icon {
  display: flex;
}

.app-menu-item__icon svg {
  width: var(--ui-icon-size);
  height: var(--ui-icon-size);
}

.app-menu-item__external-link-icon svg {
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 600px){
  #app { margin: 16px; }

  .recipe-table-header,
  .ingredient {
    grid-template-columns: var(--ui-button-height) auto 64px 78px;
  }

  input.ingredient-name {
    max-width: 160px;
  }
}

@media only screen and (max-width: 400px){
  .recipe-table-header,
  .ingredient {
    gap: 4px;
  }

  input.ingredient-name {
    max-width: 128px;
  }
}
