{% extends 'base.html' %}

{% block pagedescription %}Примеры файлов с рецептами для калькулятора Пропорцио.{% endblock %}
{% block pagekeywords %}рецепт, пример, паста, тесто, суп, пицца, оладьи, лимонад, калькулятор рецептов, пропорцио{% endblock %}
{% block pagetitle %}Примеры рецептов{% endblock %}

{% block pagecss %}<link rel="stylesheet" href="css/examples.css">{% endblock %}

{% block page_content %}
<h1>Примеры рецептов {{ longdash }} Пропорцио</h1>
<p>Выберите пример (рецепт) из списка, загрузите на компьютер или телефон и импортируйте в <a href="index.html" target="_blank">Пропорцио</a>.</p>
<div id="examples">
  {% for example in recipe_examples %}
    <section>
      <h2>{{ example.title }}</h2>
      {% if not example.credits.is_empty %}
      <p>
        <span>Источник: </span>
        {% if example.credits.author %}
          {{ example.credits.author }}{% if example.credits.recipe_url %}, <a href="{{ example.credits.recipe_url }}" target="_blank">ссылка</a>{% endif %}.
        {% else %}
           <a href="{{ example.credits.recipe_url }}" target="_blank">ссылка</a>.
        {% endif %}
      </p>
      {% endif %}
      <p>{{ example.ingredients_as_string }}.</p>
      <div class="default-button command-download" data-href="{{ example.relative_url }}">Скачать</div>
    </section>
  {% endfor %}
</div>
<script type="text/javascript" src="js/examples.js"></script>
{% endblock %}
