{% extends 'base.html' %}

{% block pagedescription %}Пересчитайте рецепт на количество любого ингредиента или число порций. Удобный и бесплатный калькулятор Пропорцио.{% endblock %}
{% block pagekeywords %}калькулятор рецептов, бесплатно, калькулятор ингредиентов, пересчитать рецепт, посчитать пропорцию, пропорция, рецепт, кулинария, готовка{% endblock %}
{% block pagetitle %}Пересчитать рецепт{% endblock %}

{% block pagecss %}<link rel="stylesheet" href="css/index.css">{% endblock %}

{% block headjavascript %}
{# Jquery #}
  {% if isdebug %}
    <script src="{{ jquery.debug.src }}" integrity="{{ jquery.debug.integrity }}" crossorigin="anonymous"></script>
  {% else %}
    <script src="{{ jquery.deploy.src }}" integrity="{{ jquery.deploy.integrity }}" crossorigin="anonymous"></script>
  {% endif %}
{% endblock %}

{% block page %}
  <div id="app">
    <div id="app-header">
      <nav id="recipe-nav">
        <button id="command-menu" class="default-button" aria-label="меню программы">Меню</button>
        <a class="link-icon" href="promo.html">{{ icons.gift }}</a>
        <a class="link-icon" href="{{ links.payment }}" target="_blank">{{ icons.dollar }}</a>
        <button id="command-clear" class="default-button severity-warning" aria-label="очистить таблицу">Очистить</button>
      </nav>
      <nav id="menu-nav" style="display: none;">
        <button id="command-menu-back" class="default-button" aria-label="вернуться к приложению">Назад</button>
      </nav>
    </div>
    <div id="app-shell">
      <div id="page-main">
        <div id="mode-chooser">
          <p id="mode-help" class="caption"></p>
          <div class="toggle-wide">
            <button id="command-original-mode" class="left toggle-ison">Оригинал</button>
            <button id="command-scale-mode" class="right toggle-isoff">Пересчёт</button>
          </div>
        </div>
        <div id="recipe-table">
          <div class="recipe-table-header">
            <div class="recipe-table-header-name">Ингредиент</div>
            <div class="recipe-table-header-amount">Кол-во</div>
            <div class="recipe-table-header-unit">Единица</div>
          </div>
        </div>
        <button class="ingredient-add" aria-label="добавить ингредиент">{{ icons.plus_circle_solid }}</button>
      </div>
      <div id="page-menu" style="display: none;">
        <!-- App actions -->
        <section class="app-menu-item-group">
          <header>Действия с рецептом</header>
          <div class="app-menu-item">
            <label for="command-import-recipe">
              <span class="app-menu-item__icon">{{ icons.folder }}</span>
              <span class="app-menu-item__caption" aria-label="открыть рецепт">Открыть</span>
              <input type="file" id="command-import-recipe" style="display:none" accept=".proportio, .json">
            </label>
          </div>
          <div class="app-menu-item">
            <button id="command-export-recipe" aria-label="сохранить рецепт">
              <span class="app-menu-item__icon">{{ icons.save }}</span>
              <span class="app-menu-item__caption">Сохранить</span>
            </button>
          </div>
          <div class="app-menu-item">
            <button id="command-copy-to-clipboard" aria-label="скопировать в буфер обмена">
              <span class="app-menu-item__icon">{{ icons.clipboard }}</span>
              <span class="app-menu-item__caption"><span class="command-complete-info">Скопировано!</span>Скопировать в буфер обмена</span>
            </button>
          </div>
        </section>

        <!-- Recipe examples -->
        <section class="app-menu-item-group">
          <div class="app-menu-item">
            <a href="examples.html" target="_blank">
              <span class="app-menu-item__icon">{{ icons.academic_hat }}</span>
              <span class="app-menu-item__caption">Примеры рецептов</span>
              <span class="app-menu-item__external-link-icon">{{ icons.external_link_mini }}</span>
            </a>
          </div>
        </section>

        <!-- Project help -->
        <section class="app-menu-item-group">
          <header>Помощь проекту</header>
          <!-- Help by donation -->
          <div class="app-menu-item">
            <a href="{{ links.payment }}" target="_blank">
              <span class="app-menu-item__icon">{{ icons.dollar }}</span>
              <span class="app-menu-item__caption">Помочь монетой</span>
              <span class="app-menu-item__external-link-icon">{{ icons.external_link_mini }}</span>
            </a>
          </div>
          <!-- Help by developing -->
          <div class="app-menu-item">
            <a href="{{ links.repository }}" target="_blank">
              <span class="app-menu-item__icon">{{ icons.github }}</span>
              <span class="app-menu-item__caption">Помочь разработкой</span>
              <span class="app-menu-item__external-link-icon">{{ icons.external_link_mini }}</span>
            </a>
          </div>
          <!-- Help by feedback -->
          <div class="app-menu-item">
            <a href="{{ contacts.Stepan.telegram }}" target="_blank">
              <span class="app-menu-item__icon">{{ icons.chat }}</span>
              <span class="app-menu-item__caption">Помочь словом</span>
              <span class="app-menu-item__external-link-icon">{{ icons.external_link_mini }}</span>
            </a>
          </div>
        </section>

        <!-- Feedback -->
          <section class="app-menu-item-group">
          <header>Обратная связь</header>
          <div class="app-menu-item">
            <a href="{{ links.vk_community }}" target="_blank">
              <span class="app-menu-item__icon">{{ icons.vk }}</span>
              <span class="app-menu-item__caption">ВК сообщество</span>
              <span class="app-menu-item__external-link-icon">{{ icons.external_link_mini }}</span>
            </a>
          </div>
          <div class="app-menu-item">
            <a href="{{ contacts.Stepan.telegram }}" target="_blank">
              <span class="app-menu-item__icon">{{ icons.telegram }}</span>
              <span class="app-menu-item__caption">{{ contacts.Stepan.firstname}} {{ contacts.Stepan.secondname }}</span>
              <span class="app-menu-item__external-link-icon">{{ icons.external_link_mini }}</span>
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/index.js"></script>
{% endblock %}
