{% extends 'base.html' %}

{% block pagetitle %}Подарки пользователям{% endblock %}

{% block pagecss %}<link rel="stylesheet" href="css/promo.css">{% endblock %}

{% block content %}
  <div id="shell">
    <image id="promo" src="promo.jpg" alt="чистая линия промокод скидка SML766278"/>
    <p class="caption">Мы не всегда успеваем обновлять промокод на подарок, а вот промокод на скидку SML766278 работает всегда!</p>
    <a class="default-button" href="https://omoloko.ru/" target="_blank">Интернет-магазин «Чистая Линия»</a>
    <a class="default-button" href="index.html">Вернуться в Пропорцио</a>
  </div>
{% endblock %}
