{% extends 'base.html' %}

{% block pagedescription %}Промокод на скидку и еженедельные подарки от магазина молочной продукции и сладостей «Чистая Линия».{% endblock %}
{% block pagekeywords %}промокод, чистая линия, омолоко, мороженое, заказ, скидка, калькулятор рецептов, пропорцио{% endblock %}
{% block pagetitle %}Подарки{% endblock %}

{% block pagecss %}<link rel='stylesheet' href='css/promo.css'>{% endblock %}

{% block page_content %}
<header class='content-block surface full-width'>
  <h1>Подарки пользователям</h1>
  <p>Свежие промокоды на покупки в интернет-магазине сладостей и молочной продукции <a href='https://omoloko.ru' target='_blank'>{{ ruquotes('Чистая Линия') }}</a>.</p>
  <p><a href='https://vk.com/@proportioapp-usloviya-akcii-ot-chistoi-linii' target='_blank'>Почему мы делимся промокодами?</a></p>
</header>

<div class='gift-list'>
  <section class='content-block surface'>
    <h2>Промокод на скидку</h2>
    <p>Скидка в 10% на заказ в интернет-магазине {{ ruquotes('Чистая Линия') }}.</p>
    <div class='promocode'>
      {{ copybutton(discount_code) }}
      <span class='promocode-duration'>Действует всегда.</span>
    </div>
    <p class='caption'>Не суммируется с сертификатами и картой интернет-магазина.</p>
  </section>
  <section class='content-block surface'>
    <h2>Промокод на подарок</h2>
    <p>{{ gift_name }} к каждому заказу в интернет-магазине {{ ruquotes('Чистая Линия') }}.</p>
    <div class='promocode'>
      {{ copybutton(gift_code) }}
      <span class='promocode-duration'>Действует с {{ gift_duration }}.</span>
    </div>
    <img class='gift-img' src='promo.jpg' />
  </section>
</div>
{% endblock %}

{% block page_just_before_end %}
<script type="text/javascript" src="js/promo.js"></script>
{% endblock %}
