{% extends 'base.html' %}

{% block pagedescription %}Промокод на скидку и еженедельные подарки от магазина молочной продукции и сладостей «Чистая Линия».{% endblock %}
{% block pagekeywords %}промокод, чистая линия, омолоко, мороженое, заказ, скидка, калькулятор рецептов, пропорцио{% endblock %}
{% block pagetitle %}Подарки{% endblock %}

{% block pagecss %}<link rel="stylesheet" href="css/promo.css">{% endblock %}

{% block page_content %}
<section class='content-block surface'>
  <image class='promo-img' src="promo.jpg" alt="чистая линия промокод скидка SML766278"/>
  <p class="caption">Мы не всегда успеваем обновлять промокод на подарок, а вот промокод на скидку SML766278 работает всегда!</p>
  <p><a class="" href="https://omoloko.ru/" target="_blank">Интернет-магазин «Чистая Линия»</a></p>
  <p><a class="" href="https://vk.com/@proportioapp-usloviya-akcii-ot-chistoi-linii" target="_blank">Почему мы делимся промокодами?</a></p>
</section>
</div>
{% endblock %}
