<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-33KVSYJECE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-33KVSYJECE');
  </script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Удобное онлайн приложение для конвертации рецептов с сохранением пропорции. Введите оригинальный рецепт, выберите ингредиент для пересчёта или количество порций, всё остальное приложение сделает за вас.">
  <meta name="keywords" content="посчитать пропорцию, пропорция, рецепт, кулинария, готовка, онлайн калькулятор">

  <title>Пропорцио &#8212; примеры</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); </style>

  <!-- Style -->
  <link rel="stylesheet" href="styles.base.css">
  <link rel="stylesheet" href="examples.css">
</head>
<body>
  <div id="shell">
    <h1>Пропорцио &#8212; примеры</h1>
    <p>Выберите пример (рецепт) из списка, загрузите на компьютер или телефон и импортируйте в <a href="index.html" target="_blank">Пропорцио</a>.</p>
    <div id="examples">
      {% for example in recipe_examples %}
        <section>
          <h2>{{ example.title }}</h2>
          {% if not example.credits.is_empty %}
          <p>
            <span>Источник: </span>
            {% if example.credits.author %}
              {{ example.credits.author }}{% if example.credits.recipe_url %}, <a href="{{ example.credits.recipe_url }}" target="_blank">ссылка</a>{% endif %}.
            {% else %}
               <a href="{{ example.credits.recipe_url }}" target="_blank">ссылка</a>.
            {% endif %}
          </p>
          {% endif %}
          <p>{{ example.ingredients_as_string }}.</p>
          <div class="default-button command-download" data-href="{{ example.relative_url }}">Скачать</div>
        </section>
      {% endfor %}
    </div>
  </div>
  <script type="text/javascript" src="examples.js"></script>
</body>
</html>
